.is-scroll-drop {
    position: relative;
    cursor: pointer;
    i.sl-icon-arrow-down {
        margin-left: 16px;
        font-size: 8px !important;
        top: 2px !important;
    }
    .drop-caret {
        position: relative;
        top: 5px;
    } //container
    .dropContain {
        width: 220px;
        position: absolute;
        z-index: 3;
        left: -1px;
        top: -500vh; //dropdown
        .dropOut {
            width: 220px;
            background: #FAFAFA;
            float: left;
            position: relative;
            margin-top: 15px;
            opacity: 0;
            border-left: 1px solid $fade-grey;
            border-right: 1px solid $fade-grey;
            border-bottom: 1px solid $fade-grey;
            -webkit-transition: all .5s ease-out;
            -moz-transition: all .5s ease-out;
            -ms-transition: all .5s ease-out;
            -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
        }
        .dropOut ul {
            display: block;
        }
        .dropOut ul li {
            width: 100% !important;
            text-align: left;
            float: inherit !important;
            padding: 0 !important;
            line-height: 35px;
            border: 0;
            &:hover {
                background: $white;
                cursor: pointer;
            }
            & a {
                border: 0;
                text-align: left;
                display: block;
                padding: 6px 12px !important;
                &:hover {
                    background: $white;
                    cursor: pointer;
                }
            } //icons
            i.drop-icon {
                position: relative;
                top: 4px;
                margin-right: 15px;
            }
            i.drop-icon.sl {
                position: relative;
                top: 0;
                margin-right: 15px;
            }
        }
    } //Active state
    &:hover .dropContain {
        top: 45px !important;
    }
    &:hover .dropContain .dropOut {
        animation: fadeInUp 0.27s ease-out;
        opacity: 1;
    }
    &.drop-sm:hover .dropContain {
        top: 15px !important;
    }
    &.is-centered .dropContain {
        margin-left: -110px;
        /* half of width */
    }
    &.is-right .dropContain {
        margin-left: -55px;
        /* quarter of width */
    }
}

.fileuploader {
    margin: 0;
}

.message.custom-message.icon-msg i {
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 10px;
}

.message.custom-info-message.icon-msg i {
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 5px;
}


/* ==========================================================================
10. Chat widget trigger button
========================================================================== */

#bulchat {
    position: fixed;
    right: 0;
    opacity: 0;
    visibility: hidden;
    bottom: 85px;
    margin: 0 25px 0 0;
    z-index: 9999;
    transition: 0.35s;
    transform: scale(0.7);
    transition: all 0.5s;
    animation: gelatine;
}

#bulchat.visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

#bulchat.visible div {
    outline: none;
    opacity: 1;
    background: $secondary;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

#bulchat div {
    outline: none;
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 46px;
    height: 46px;
    background-color: $medium-grey;
    opacity: 1;
    transition: all 0.3s;
    border-radius: 50% 50% 50% 0;
    text-align: center;
    font-size: 26px
}

body #bulchat div {
    outline: none;
    color: #fff;
}

#bulchat div:after {
    outline: none;
    content: url('/images/illustrations/icons/smile.svg');
    font-family: "FontAwesome";
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
}

#bulchat.visible.close {
    transform: rotate(90deg);
}

#bulchat div.close:after {
    outline: none;
    content: url('/images/illustrations/icons/close.svg');
    font-family: "FontAwesome";
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
    transition: all 0.5s ease;
}