body.user {
    background-color: #EDF0F2;
}

.user-menu {
    @include mq("desktop") {
        overflow: inherit !important;
    }

    &>ul {
        height: 60px;
    }

    & ul {
        & li {
            font-size: 1.2rem;

            @include mq("desktop") {
                font-size: 1.1rem;
            }

            @include mq("tablet") {
                font-size: 1rem;
            }

            border-right: 1px solid rgba(0, 0, 0, .04);

            &:last-child {
                border-right: 0;
            }

            & a,
            & span {
                padding-right: 20px;
                padding-left: 20px;
                color: #666 !important;

                &:hover {
                    background-color: #FAFAFA;
                }
            }

            & span {
                display: inline-block;
                height: 60px !important;
            }

            &.is-active>a,
            &.is-active>span {
                color: #00d1b2 !important;
            }

            &.is-div-active {
                color: #00d1b2 !important;
            }
        }
    }
}

.search-form {
    & input {
        border: 0;
        border-radius: 0;
        height: 2.74em !important;
        margin: 0;
    }
}

ul.unstyled-list {
    list-style: none;
    margin: 0;
}

.solution-center {
    & .card-body {
        height: 130px !important;

        & img {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            display: inline-block;
            border: none;
            margin: auto;
        }
    }
}

.supporter-card {
    & .content {
        color: #000 !important;
        strong {
            color: #000 !important;
            font-weight: 700;
        }
        a {
            color: #000 !important;
            font-weight: 700;
            text-decoration: underline;
            &:after {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "\f08e";
                margin-left:3px;
            }
        }
    }
}

#section-info {
    @include mq("desktop") {
        margin-top:-34px !important;
    }
}