.is-scroll-drop {
    position: relative;
    cursor: pointer;
    i.sl-icon-arrow-down {
        margin-left: 16px;
        font-size: 8px !important;
        top: 2px !important;
    }
    .drop-caret {
        position: relative;
        top: 5px;
    }
    //container
    .dropContain {
        width: 220px;
        position: absolute;
        z-index: 3;
        left: -1px;
        top: -500vh;
        //dropdown
        .dropOut {
            width: 220px;
            background: #FAFAFA;
            float: left;
            position: relative;
            margin-top: 15px;
            opacity: 0;
            border-left: 1px solid $fade-grey;
            border-right: 1px solid $fade-grey;
            border-bottom: 1px solid $fade-grey;
            -webkit-transition: all .5s ease-out;
            -moz-transition: all .5s ease-out;
            -ms-transition: all .5s ease-out;
            -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
        }
        .dropOut ul {
            display:block;
        }
        .dropOut ul li {
            width: 100% !important;
            text-align: left;
            float: inherit !important;
            padding:0 !important;
            line-height: 35px;
            border:0;
            &:hover {
                background: $white;
                cursor: pointer; 
            }
            & a {
                border:0;
                text-align: left;
                display: block;
                padding:6px 12px !important;
                &:hover {
                    background: $white;
                    cursor: pointer; 
                }
            }
            //icons
            i.drop-icon {
                position: relative;
                top: 4px;
                margin-right: 15px;
            }
            i.drop-icon.sl {
                position: relative;
                top: 0;
                margin-right: 15px;
            }
        }
    }
    //Active state
    &:hover .dropContain {
        top: 45px !important;
    }
    &:hover .dropContain .dropOut {
        animation: fadeInUp 0.27s ease-out;
        opacity: 1;
    }
    &.drop-sm:hover .dropContain {
        top: 15px !important;
    }
    &.is-centered .dropContain {
        margin-left: -110px; /* half of width */
    }
    &.is-right .dropContain {
        margin-left: -55px; /* quarter of width */
    }
}

.fileuploader {
    margin:0;
}